.autocomplete-wrapper {
  position: relative;
  width: 100%;
}

.filter-wrapper {
  background-color: var(--white);
  width: 100%;
  border-radius: var(--border-radius);
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  font-size: 16px;
}

.filter-wrapper:focus {
  outline: none;
}

.list-wrapper {
  position: absolute;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-top: 12px;
  max-height: 300px;
  box-sizing: border-box;
  overflow-y: auto;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.filter-item {
  padding: 10px 20px;
}

.filter-item:focus {
  background-color: var(--hover-color);
}

.filter-item:hover {
  background-color: var(--hover-color);
}

.filter-item.active {
  background-color: var(--hover-color);
}
